/*Selector por etiqueta*/
p {   
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
}
/*Selector por clase*/
.destacado {
    background: #ffeb3b;
    padding: 5px;    
}
/*Selector por id*/
#unico {
    color: #d32f2f;
    font-weight: bold;
}
/*Modelo de cajas*/
.caja {
    width: 200px;
    height: 100px;
    border: 4px solid purple;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}
div {
    background: #cce5ff;
    margin: 5px 0;
}
span {
    background: #ffcce0;
}
a {
    background: #c8e6c9;
    padding: 3px;
}