body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}
.container {
    max-width: 700px;
    align-items: center;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
div h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}
div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
div p {
    margin: 20px;
    padding: 10px;
    text-align: center;
}
footer {
    margin: 20px;
}
@media (max-width:450px) {
    body {
        font-size:x-small;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:720px) and (min-width:450px) {
    body {
        font-size:small;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:1080px) and (min-width:721px) {
    body {
        font-size:medium;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width:1081px) {
    nav {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}